.user-profile-bio {
  margin-bottom: 12px;
  overflow: hidden;
  font-size: 14px;
  color: #6a737d;
}

.vcard-details {
  list-style: none;
}

.vcard-detail {
  padding-left: 22px;
  font-size: 14px;
}

.vcard-names {
  line-height: 1;
}

.vcard-fullname {
  font-size: 26px;
  line-height: 30px;
}

.vcard-username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}

.vcard-details .css-truncate.css-truncate-target {
  width: 100%;
  max-width: 100%;
}

.vcard-detail .octicon {
  float: left;
  width: 16px;
  margin-top: 3px;
  margin-left: -22px;
  color: #6a737d;
  text-align: center;
}

.UnderlineNav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e4e8;
}

.user-profile-nav {
  background-color: #fff;
  border-bottom: solid 1px #d1d5da;
}

.UnderlineNav-body {
  display: flex;
  margin-bottom: -1px;
}

.UnderlineNav-item {
  padding: 16px 8px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #586069;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.UnderlineNav-item.selected {
  font-weight: 600;
  color: #24292e;
  border-bottom-color: #e36209;
}

.Counter {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #586069;
  background-color: rgba(27,31,35,0.08);
  border-radius: 20px;
}

.pinned-repos-setting-link {
  font-size: 13px;
  font-weight: 400;
}

.pinned-repos-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pinned-repo-item {
  display: flex;
  width: 359px;
}

.pinned-repo-item-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.pinned-repo-desc {
  flex: 1 0 auto;
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.pinned-repo-item .pinned-repository-handle {
  padding-top: 1px;
  color: #586069;
}

.contributions-setting .contributions-setting-link {
  font-size: 13px;
}

.select-menu-button::after {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: -2px;
  content: "";
  border: 4px solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.calendar-graph {
  height: 126px;
  padding: 5px 0 0;
  text-align: center;
}

.contrib-footer {
  padding: 0 10px 12px;
  font-size: 11px;
}

.calendar-graph text.month {
  font-size: 10px;
  fill: #767676;
}

.calendar-graph text.wday {
  font-size: 9px;
  fill: #767676;
}

.contrib-legend {
  float: right;
}

.contrib-legend .legend {
  position: relative;
  bottom: -1px;
  display: inline-block;
  margin: 0 5px;
  list-style: none;
}

.contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px;
}
