.UnderlineNav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e4e8;
}

.UnderlineNav-body {
  display: flex;
  margin-bottom: -1px;
}

.UnderlineNav-item {
  padding: 16px 8px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #586069;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.UnderlineNav-item.selected {
  font-weight: 600;
  color: #24292e;
  border-bottom-color: #e36209;
}

.UnderlineNav-item:hover {
  color: #24292e;
  text-decoration: none;
  border-bottom-color: #d1d5da;
  transition: 0.2s ease;
}

.Counter {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #586069;
  background-color: rgba(27,31,35,0.08);
  border-radius: 20px;
}
